

*{
    font-family: 'Roboto', sans-serif;
    color: yellow;
}
body{
    background-color: #212529;
    margin: 10px;
    padding: 10px;
}
p{
    color: white;
}
#proximo{
    background-color: yellow;
    border-radius: 90%;
    height: 50px;
    width: 50px;
    padding: 8px;
    color: black;
    float:right;
    border-color: yellow;
    align-items: center;
}
#volta{
    background-color: yellow;
    border-radius: 90%;
    height: 50px;
    width: 50px;
    padding: 8px;
    color: black;
    float:left;
    border-color: yellow;
    align-items: center;
}
